.button{
    background-color: transparent;
    width: 7rem;
    height: 2.5rem;
    border:none;
    outline: none;
    border-radius: 10px;
    transition: 0.7s;
}

.button:hover{
    background-color: #9e2aad;
    width: 9rem;
    color: white;
    letter-spacing: 3px;
}

.button1{
    background-color: transparent;
    width: 8rem;
    height: 2.5rem;
    border:none;
    outline: none;
    border-radius: 10px;
    transition: 0.7s;
}

.button1:hover{
    background-color: #9e2aad;
    width: 10rem;
    color: white;
    letter-spacing: 3px;
}